<template id="pop-up-template">
    <style>
        @import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
        @import "components/Popup/Popup.css";
        @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")            
    </style>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="body" class="modal-body">
                <div id="body-v1" class="row row-modal">
                    <div class="flex-1 center">
                        <div style="flex-direction: column;">
                            <div id="description"></div>
                            <div id="rating-container"></div>
                            <div id="sellers"></div>
                        </div>
                    </div>
                    <div class="flex-1 center">
                        <img id="img" class="logo-img"/>
                    </div>
                </div>
                <div id="body-v2" class="row center">
                    <ul id="tab" class="list-group">

                    </ul>
                </div>
            </div>            
        </div>
    </div>
</template>
<script src="Popup.js"></script>